@model HealthSupportApp.Models.HomeModel.ForgetPassword
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red
    }
</style>
<div class="container" style="margin-top: 50px">
    <div class="row" style="min-height: 60vh">
        <div class="col-md-8 col-centered">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="container">
                    <div class="row justify-content-center align-content-center">
                        <div class="col-md-8">
                            <div class="alert alert-danger alert-dismissible" style="margin-top: 20px">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Error!</strong> @ViewBag.ErrorMessage
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="card">
                <div class="card-header">
                    <h3>Reset Password</h3>
                </div>
                <div class="card-body" id="doctorUser">
                    @using (Html.BeginForm("ForgetPassword", "Register", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group row justify-content-center">
                            <label class="contorl-label col-md-3">Login ID :</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.LoginId, new {@class = "form-control", placeholder = "Enter your Login ID here."})
                                @Html.ValidationMessageFor(model => model.LoginId)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-3 col-md-9">
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-body" id="hospital">
                    @using (Html.BeginForm("ForgetPassword", "Register", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group row justify-content-center">
                            <label class="contorl-label col-md-4">Contact Person's Mobile No. :</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ContactPersonMobileNo, new { @class = "form-control", placeholder = "Enter your Login ID here." })
                                @Html.ValidationMessageFor(model => model.ContactPersonMobileNo)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-4 col-md-9">
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br/>
            <div class="row" id="doctorUserBtn">
                <div class="col-md-12 text-center">
                    <button class="btn btn-success">Doctor/Patient Center Password Reset</button>
                </div>
            </div>
            <div class="row" id="hospitalBtn">
                <div class="col-md-12 text-center">
                    <button class="btn btn-info">Hospial/Diagnostic Center Password Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#hospital").hide(-10000);
            $("#doctorUserBtn").hide(-10000);
            $("#hospitalBtn").click(function () {
                $("#hospital").show();
                $("#doctorUserBtn").show();
                $("#hospitalBtn").hide();
                $("#doctorUser").hide();
            });
            $("#doctorUserBtn").click(function () {
                $("#hospital").hide();
                $("#doctorUserBtn").hide();
                $("#hospitalBtn").show();
                $("#doctorUser").show();
            });
        });
    </script>
}
