@model HealthSupportApp.Models.HomeModel.ForumPost
@using HealthSupportApp.Models.HomeModel
@{
    ViewBag.Title = "Forum";
    ViewBag.GetMedicalName = ViewBag.GetName;
    Layout = "~/Views/Shared/_MedicalLayout.cshtml";
    List<TopicCategory> topicCategories = ViewBag.GetTopiCategories;
    List<ForumPost> forumPosts = ViewBag.GetForumPosts;
}

<div class="container">
    <header>
        <h1 class="h3 display">Forum</h1>
    </header>
    @if (ViewBag.Message != null)
    {
        <div class="container">
            <div class="row justify-content-center align-content-center">
                <div class="col-md-8">
                    <div class="alert alert-success" style="margin-top: 20px">
                        <strong>Success!</strong> @ViewBag.Message
                    </div>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="container">
            <div class="row justify-content-center align-content-center">
                <div class="col-md-8">
                    <div class="alert alert-danger" style="margin-top: 20px">
                        <strong>Oops!</strong> @ViewBag.ErrorMessage
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <h5>
                                    Want to know about health information?
                                </h5>
                            </div>
                            <div class="col-12 col-md-4">
                                <a class="collapsed card-link btn btn-info pull-right" data-toggle="collapse" href="#collapseOne">
                                    Ask a Question
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion">
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("Forum", "Medical", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Topic Category</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.TopicCategoryId, new SelectList(topicCategories, "TopicCategoryId", "TopicCategoryName"), "- Select category -", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TopicCategoryId)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Topic</label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.TopicName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TopicName)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Description</label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "2" })
                                                @Html.ValidationMessageFor(model => model.Description)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Add Photo</label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.ImageFile, new { @class = "form-control", type = "file", id = "ImageFile", onclick = "return checkImage()", accept = "image/*" })
                                                @Html.ValidationMessageFor(model => model.ImageFile)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary col-md-3 pull-right">Post</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row bg-white" style="padding: 20px 10px 25px 10px">
        <div class="col-md-12">
            <h4>Topic Categories</h4>
            <hr />
            <ul class="list-group">
                @{ int k = 0;}
                @for (int i = 0; i < topicCategories.Count; i++)
                {
                    if (i <= 4)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="@Url.Action("ForumTopicPost","Medical", new {topicCategoryId = topicCategories[i].TopicCategoryId})" class="text-primary">
                                @topicCategories[i].TopicCategoryName
                            </a>
                            <span class="badge badge-primary badge-pill">@topicCategories[i].CountCategory</span>
                        </li>
                    }
                    k = i;
                }
                @if (k - 5 < topicCategories.Count)
                {
                    <li id="collapseTwo" class="collapse" data-parent="#accordion">
                        <ul class="list-group">
                            @for (int j = 5; j < topicCategories.Count; j++)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="@Url.Action("ForumTopicPost","Medical", new {topicCategoryId = topicCategories[j].TopicCategoryId})" class="text-primary">
                                        @topicCategories[j].TopicCategoryName
                                    </a>
                                    <span class="badge badge-primary badge-pill">@topicCategories[j].CountCategory</span>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="collapsed text-primary" data-toggle="collapse" href="#collapseTwo">
                            More <i class="fa fa-arrow-down"></i><i class="fa fa-arrow-up"></i>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
    <br />
    <div class="row bg-white" style="padding: 20px 10px 25px 10px">
        <div class="col-md-12">
            <h4>Recent Posts</h4>
            <hr />
            @if (forumPosts.Count > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        @foreach (ForumPost forumPost in forumPosts)
                        {
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>@forumPost.TopicName </h5>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("ForumTopicPost","Medical", new {topicCategoryId = forumPost.TopicCategoryId})" class="btn btn-sm btn-outline-secondary pull-right">@forumPost.TopicCategory</a>
                                </div>
                            </div>
                            <label class="col-form-label">By <b class="text-info">@forumPost.UserName</b> |</label> <i> @forumPost.PostDate</i>
                            if (forumPost.Description != "")
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        @forumPost.Description
                                    </div>
                                </div>
                            }
                            if (string.IsNullOrEmpty(forumPost.ImagePath))
                            {
                                <div></div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="@Url.Content(forumPost.ImagePath)" width="450px" height="500px" class="img-thumbnail" alt="user photo" />
                                    </div>
                                </div>
                            }
                            <br />
                            <div id="@forumPost.ForumPostId" class="collapse" data-parent="#accordion">
                                <div class="row" style="margin-bottom: 5px">
                                    <div class="col-md-8">
                                        <div class="row" style="margin-left: 5px">
                                            <div class="col-md-12">
                                                @foreach (Comments comments in forumPost.Comments)
                                                {
                                                    <div style="border-bottom: 1px solid darkcyan">
                                                        <label><b>@comments.UserName</b></label>
                                                        <p class="text-dark" style="font-size: 15px">@comments.Comment</p>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (User.IsInRole("Medical"))
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            @using (Html.BeginForm("Comment", "Medical", FormMethod.Post))
                                            {
                                                <textarea class="form-control col-md-12" name="comment" rows="2" style="margin-bottom: 5px"></textarea>
                                                <input type="hidden" name="postId" value="@forumPost.ForumPostId" />
                                                <button type="submit" class="btn btn-sm btn-primary pull-right">Comment</button>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <a href="#@forumPost.ForumPostId" class="collapsed text-primary" data-toggle="collapse"><i class="fa fa-comment"></i> @forumPost.Comments.Count comments <i class="fa fa-arrow-down" style="font-size: 12px"></i><i class="fa fa-arrow-up" style="font-size: 12px"></i></a>
                            <br />
                            <hr />
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-outline-primary" href="@Url.Action("AllForumPosts","Medical")">See all posts</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <i class="text-center">No post available now.</i>
            }
        </div>
    </div>
</div>




