@model HealthSupportApp.Models.UserModel.ChangeUserPassword
@{
    ViewBag.GetUserName = ViewBag.GetName;
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (ViewBag.Message != null)
{
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-8">
                <div class="alert alert-success alert-dismissible" style="margin-top: 20px">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong> @ViewBag.Message
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible" style="margin-top: 20px">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> @ViewBag.ErrorMessage
                </div>
            </div>
        </div>
    </div>
}
<div class="container">
    <header>
        <h1 class="h3 display">Change Password</h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Change your password</h4>
                </div>
                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-md-10 col-centered">
                            <table class="table table-responsive-md table-borderless">
                                <tr>
                                    <th>Old Password :</th>
                                    <td>
                                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "Enter your Old Password" })
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                    </td>
                                </tr>
                                <tr>
                                    <th>New Password :</th>
                                    <td>
                                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Enter your New Password" })
                                        @Html.ValidationMessageFor(model => model.NewPassword)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Confirm New Password :</th>
                                    <td>
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your New Password" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center"><button class="btn btn-success" type="submit"><i class="fa fa-check-square"></i> SAVE</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

