<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HSSMI - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/Layout/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/Layout/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Content/Layout/css/fontastic.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="~/Content/Layout/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="~/Content/Layout/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- theme stylesheet-->
    <link href="~/Content/Layout/css/style.medical.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/Layout/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <style>
        .field-validation-error {
            color: red;
        }
        .input-validation-error {
            border-color: red;
        }
        .table-borderless tr td {
            border: none !important;
        }

        .table-borderless tr th {
            border: none !important;
        }

        .col-centered {
            margin: 0 auto;
            float: none;
        }
     </style>
</head>
<body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    @*<img src="~/Content/Layout/img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">*@
                    <i class="fa fa-plus-square" style="font-size: 50px; margin-bottom: 8px"></i>
                    <h4>@ViewBag.GetMedicalName</h4>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo"><a href="@Url.Action("Index", "Medical")" class="brand-small text-center"><i class="fa fa-plus-square" style="font-size: 50px"></i> </a></div>
            </div>
            <hr style="background-color: white" />
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"><a href="@Url.Action("Index", "Medical")"> <i class="fa fa-home" style="font-size: 18px"></i>Home  </a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "MedicalProfile" ? "active" : "")"><a href="@Url.Action("MedicalProfile", "Medical")"> <i class="fa fa-hospital-o" style="font-size: 18px"></i>Medical Profile  </a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Services" ? "active" : "")"><a href="@Url.Action("Services", "Medical")"> <i class="fa fa-medkit" style="font-size: 18px"></i>Services   </a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "DoctorAssign" ? "active" : "")"><a href="@Url.Action("DoctorAssign", "Medical")"> <i class="fa fa-user-md" style="font-size: 18px"></i>Doctor Assign</a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ViewDoctors" ? "active" : "")"><a href="@Url.Action("ViewDoctors", "Medical")"> <i class="fa fa-address-book" style="font-size: 18px"></i>View Doctors </a></li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")"><a href="@Url.Action("ChangePassword", "Medical")"> <i class="fa fa-wrench" style="font-size: 18px"></i>Change Password </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                            <a href="@Url.Action("Index", "Medical")" class="navbar-brand">
                                <div class="brand-text d-none d-md-inline-block">HSSMI -<b> Medical Dashboard</b></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- UserSettings dropdown    -->
                            <li class="nav-item dropdown">
                                @if (User.IsInRole("Medical"))
                                {
                                    <a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle">
                                        <span class="d-none d-sm-inline-block" style="font-size: 16px"><i class="fa fa-user"></i> @HttpContext.Current.User.Identity.Name</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("MedicalLogout", "Register")" class="nav-link logout text-danger" style="font-size: 16px"><i class="fa fa-sign-out"></i> Logout</a></li>
                                    </ul>
                                }
                            </li>
                            <!-- Log out-->
                            <li class="nav-item"><a class="nav-link text-white" style="font-size: 15px" href="@Url.Action("Forum", "Medical")">Forum</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Statistics Section-->
        <section class="statistics">
            @RenderBody()
        </section>
        <br />
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>HSSMI &copy; @DateTime.Now.Year</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>Developed by <a href="https://github.com/ihasanzarif" class="external">Ihasan Zarif</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JavaScript files-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Content/Layout/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="~/Content/Layout/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Content/Layout/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Main File-->
    <script src="~/Content/Layout/js/front.js"></script>
</body>
</html>