@using HealthSupportApp.Models.HomeModel
@model HealthSupportApp.Models.HomeModel.ForgetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ForgetPassword userForgetPassword =  ViewBag.GetUserForgetPassword;
}

<div class="container" style="margin-top: 50px">
    <div class="row" style="min-height: 60vh">
        <div class="col-md-8 col-centered">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="container">
                    <div class="row justify-content-center align-content-center">
                        <div class="col-md-8">
                            <div class="alert alert-danger alert-dismissible" style="margin-top: 20px">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Error!</strong> @ViewBag.ErrorMessage
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="card">
                <div class="card-header">
                    <h3>Reset Password</h3>
                </div>
                <div class="card-body" id="doctorUser">
                    @using (Html.BeginForm("ResetPassword", "Register", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group row justify-content-center">
                            <label class="contorl-label col-md-4">Login ID :</label>
                            <div class="col-md-8">
                                @if (userForgetPassword.LoginId != null)
                                {
                                    @Html.TextBoxFor(model => model.LoginId, new { @class = "form-control", placeholder = "Enter your Login ID here.", Value = userForgetPassword.LoginId, @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.LoginId)
                                    <input type="hidden" name="Role" value="@userForgetPassword.Role" />
                                }
                                @if (userForgetPassword.ContactPersonMobileNo != null)
                                {
                                    @Html.TextBoxFor(model => model.ContactPersonMobileNo, new { @class = "form-control", Value = @userForgetPassword.ContactPersonMobileNo, @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.ContactPersonMobileNo)
                                    <input type="hidden" name="UserId" value="@userForgetPassword.UserId" />
                                }
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="contorl-label col-md-4">New Password :</label>
                            <div class="col-md-8">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Enter your Login ID here." })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="contorl-label col-md-4">Confirm New Password :</label>
                            <div class="col-md-8">
                                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "Enter your Login ID here." })
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-3 col-md-9">
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

